*/ {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* Ajustes generales de la estructura de la página */

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-areas: 
        "header"  
        "main"  
        "footer";
    width: 1500px;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    overflow: auto;
}

input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #a3a2a2;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    background-image: url(./imagenes/rolands-varsbergs-miKmVyq3qhE-unsplash-scaled-e1670302019124.webp);
    background-size: cover;
    background-position-x: 30%;
    background-position-y: 100%;
    height: 450px;
    width: 100%;
}

/* Estilos para el modal */

.popup {
    display: none; 
    position: fixed;
    border: 20px;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;

}

.contenido_popup {
    background-color: #fefefec7;
    margin: auto;
    margin-top: 15%;
    padding: 5px;
    width: 1000px;
    height: 620px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
}

#contenido_popup_registro {
    display: flex;
    flex-direction: column;
    background-color: #fefefec7;
    box-sizing: border-box;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 480px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.322);
}

.contenido_real_popup {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    background-color: #fefefe00;
    height: 100%;
}

#contenido_popup_login {
    display: flex;
    flex-direction: column;
    background-color: #fefefec7;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.322);
}

.img_popup {
    margin: 10px;
    width: 450px;
    height: 600px;
}

/* Estilos formulario de Login y Registro */

#formulario_login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario_registro {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Estilos para la X de cerrar que se encuentra en el span. Se agrega un pseudoelemento para que al posicionar el cursor este cambie de color. */

.cerrar {
    color: #000000;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: rgb(255, 153, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Contenedores y elementos de header. */

.contenedor_padre_header {
    background-color:rgba(10, 94, 59, 0.425);
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 450px;
    width: 100%;
}

.caja_header_1 {
    display: flex;
    flex-direction: row;
    height: 60px;
}

.logo_header {
    color:white;
    font-size: 40px;
    width: 150px;
    font-family: "Caveat", system-ui;
    margin: 25px;
    margin-right: 1100px;
}

.nav_header {
    height: 50px;
    display: flex;
    margin-top: 35px;
    margin-right: 0px;
    width: 100%;
    gap: 20px;

}

.boton_nav_header {
    position: relative;
    height: 30px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    font-weight:bolder;
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    font-weight: normal;
    cursor: pointer;

}

/* Se crea un psedoelemento para crear una línea que se despliegue bajo el botón, que permanece oculto (scaleX) hasta que el cursor se posicione en él.  */

.boton_nav_header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.boton_nav_header:hover::after {
    transform: scaleX(1);
    transform-origin: bottom 
}

.caja_header_texto {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 100%;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}

.texto_header {
    font-size: 35px;
    color: white;
    text-align: center;  
}

.boton_texto_header {
    height: 50px;
    width: 180px;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 8px;
    font-size: 18px;
    font-weight:bold;
    font-family: "Nunito Sans", sans-serif;
    color: darkolivegreen;
    cursor: pointer;
}

/* Estilos para los contenedores y elemtnos del main */

main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 2000px;
    background-color: white;
    z-index: 1000;
    width: 100%;
}

.contenedor_main_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    position: relative;
    padding-top: 50px;
    
}

.circulo {
    background-color: rgba(53, 75, 53, 0.747);
    z-index: -100;
    position: absolute;
    left: -175px;
    margin-top: 250px;
    width: 650px;
    height: 300px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    transform: rotate(90deg);
    
    
}

.circulo2 {
    width: 200px;
    height: 200px;
    border-radius: 400px;
    background-color: rgba(53, 75, 53, 0.747);
    z-index: -100;
    position: absolute;
    left: 1250px;
    margin-top: 30px;
    
    
}

.encabezado_section {
    margin: 0px;
}

.linea_verde {
    border: 1px solid darkolivegreen;
    height: 1px;
    background-color: darkolivegreen;
    width: 250px;
}

.texto_places {
    display: flex;
    flex-direction: row;
    font-size: larger;
    gap: 5px;
    padding: 20px;
    margin-bottom: 20px;
}


.places_texto {
    background-color: white;
    border: 0;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    cursor: pointer;
}

.favorites_texto {
    background-color: white;
    border: 0;
    font-size: 18px;
    color: rgb(100, 99, 99);
    font-weight: 400;
    cursor: pointer;
}

.contenedor_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: left;
    height: 500px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.322);
}

.texto_card {
    margin: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.img_card {
    width: 350px;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
}

.caja_botones_card {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.boton_card_1 {
    height: 40px;
    width: 120px;
    background-color: #42AA85;
    border: 0;
    border-radius: 8px;
    margin-top: 15px;
    color: white;
    font-weight:bolder;
    font-size: 13px;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}

.boton_card_2 {
    height: 40px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: rgb(13, 192, 168);
    border-radius: 8px;
    margin-top: 15px;
    color: rgb(13, 192, 168);
    font-weight:bolder;
    font-size: 13px;
    font-family: "Nunito Sans", sans-serif;
}

.encabezado_services {
    height: 30px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    padding: 0px;
    display: flex;
    margin-bottom: 21px;

    justify-content: center;
}

.linea_verde2 {
    border: 1px solid darkolivegreen;
    height: 1px;
    background-color: darkolivegreen;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.contenedor_services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
}

.contenedor_card_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.imagen_hotel {
    z-index: -100;
    position: absolute;
    margin-top: 915px;
    left: 170px;
    object-fit: cover; 
}

.imagen_taxi {
    z-index: -100;
    position: absolute;
    margin-top: 1400px;
    left: 670px; 
}

.titulo_card_services {
    font-size: 30px;
    font-weight: bold;
}

.caja_services_1 {
    display: flex;
    height: 280px;
    padding: 20px;
    width: 500px;
    background-color: white;
    margin-top: 0;
    margin-left: 400px; 
}

.caja_services_2 {
    display: flex;
    flex-direction: column;
    height: 280px;
    padding: 20px;
    width: 500px;
    background-color: white;
    margin-top: 160px;
    margin-left: -500px; 
}

.texto2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.services {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 0;
    margin-top: 100px;
    color: black;
    font-weight: bold;
}

.caja_texto_services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h6 {
    font-size: 24px;
    margin: 0;
}

h2 {
    font-size: 40px;
}

.boton_learn_more {
    height: 40px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-weight:bolder;
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}

/* Estilo para contenedores y elementos del footer */

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(8,36,25,255)
}

.nav_footer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.texto_footer {
    color: white;
    font-size: 20px;
}

.rights_text {
    color: rgba(207, 203, 203, 0.884);
    font-size: small;
    margin-top: 40px;
}

.caja_lateral1 {
    grid-area: div1;
    width: 20vh;
    background-color: black;
    z-index: 1000;
}

.caja_lateral2 {
    grid-area: div2;
    width: 20vh;
    background-color: black;
}

.texto_footer {
    cursor: pointer;
}